<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.back_end_bf.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.JoinClubDTO" alias="joinClubDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.LikeClubDTO" alias="likeClubDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.ClubDTO" alias="clubDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.RecoFtnessDTO" alias="recoFtnessDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.FtnessDTO" alias="ftnessDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.RecoBarrierFreeDTO" alias="recoBarrierFreeDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.BarrierFreeDTO" alias="barrierFreeDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.RefreshDTO" alias="refreshDTO"/>
        <typeAlias type="com.example.back_end_bf.dto.MapFilterDTO" alias="mapFilterDTO"/>
    </typeAliases>
</configuration>
